<% provide(:title, "Learning") %>
<h1>Learning Main</h1>

<div class='index-div'>
  <ul class='index-list'>
    <li><%= link_to "Software Dev", software_dev_path %></li>
    <li><%= link_to "Software Testing", software_test_path %></li>
    <li><%= link_to "Flows", flows_path %></li>
  </ul>
</div>