<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      This project is aimed at helping QA Engineers 
      kickstart their career by providing information about basic knowledge
      Junior QA requires.
      Also, a crucial part of this project is Interval Training.
    </p>
