<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
    Wait a minute...Who are you? You can write me to <a href="https://www.linkedin.com/in/techleopard/" target=”_blank”>my LinkedIn account.</a>
</p>