<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Test Pioneer</title>
  </head>
  <body>
    <h1>Test Pioneer</h1>
    <p>
      This is the home page for QA informational website.
    </p>
  </body>
</html>