<% provide(:title, @position.title)%>

<%= link_to '[back]', interview_stack_path %> |

<h1><%= @position.title %></h1>

<div class='content-div'>
    <div class='description-block'>
        <h4>Теория:</h4>
        
    </div>

    <div class='description-block'>
        <h4>Инструменты:</h4>

    </div>

</div>
