<% provide(:title, "Edit an assignment") %>

<div class='add-button'>
    <%= link_to 'Назад к списку заданий', assignments_path %>
</div>

<h1>Редактировать тестовое задание</h1>

<%= render 'layouts/assignments/form_edit' %>
