<% provide(:title, "Assigments") %>

<div class='top-nav-button'>
    <%= link_to '[back]', learning_path %>
    <%= link_to '[add a test assignment]', new_assignment_path %>
</div>

<h1>Test assignments</h1>

<div class='index-div'>
  <ul class='index-list'>
    <% @assignments.each do |assignment| %>
      <li>
        <%= link_to assignment.title, assignment_path(assignment) %>
      </li>
    <% end %>
  </ul>
</div>

