<% provide(:title, "Assigments") %>

<div class='top-nav-button'>
    <%= link_to 'Back to interview', interview_path %> |
    <%= link_to 'Добавить тестовое задание', new_assignment_path %>
</div>

<h1>Test assignments</h1>

<ul class='assignments-list'>
  <% @assignments.each do |assignment| %>
    <li>
      <%= link_to assignment.title, assignment_path(assignment) %>
    </li>
  <% end %>
</ul>
