<% provide(:title, "Add an assignment") %>

<div class='add-button'>
    <%= link_to 'Назад к списку заданий', assignments_path %>
</div>

<h1>Добавить тестовое задание</h1>

<%= render 'layouts/assignments/form_new' %>
