<% provide(:title, "Assigments") %>

<h1>Test assignments</h1>

<ul>
    <li>Обязательно почитайте прекрасный цикл статей «The 7 Plagues of Soft-
ware Testing»15 (James Whittaker).</li>
    <li>
        <p>
            Настоятельно рекомендуется в дополнение к материалу этой главы прочесть:
            • прекрасную статью «Классификация видов тестирования»113;
            • также классическую книгу Ли Коупленда «Практическое руководство по разработке тестов» (Lee Copeland, «A Practitioner's Guide to Software Test Design»);
            • очень интересную заметку «Types of Software Testing: List of 100 Different Testing Types»
        </p>
    </li>
    <li>https://developer.mozilla.org/en-US/docs/Web/CSS/white-space</li>
    <li>http://larrr.com</li>
    <li>https://javarush.com/quests/lectures/questsyntaxpro.level03.lecture03</li>
    <li>https://news.learnenough.com/power-of-scripting-deploy-script</li>
    <li>https://toggl.com/blog/toggl-academy</li>
    <li>https://www.udemy.com/join/login-popup/?next=/course/qatesting/learn/lecture/35152438%3Fstart%3D0#overview</li>
    <li>https://testpro.io/ru/s-chego-nachat-obuchenie-nachinayushemu-testirovshiku/</li>
</ul>
