<% provide(:title, 'Структура собеседования') %>
<h1>Структура собеседования на позицию Junior QA Engineer</h1>

<div class='article-content'>
    <p>
        Что такое тестирование?
        Откуда ты возьмешь ожидаемое поведение?
        Цели тестирования
        Чем отличается верификация от валидации?
        Виды тестирования
        Техники тестирования
        Тестовая документация
        Критерии выбора между чеклистом и тест-кейсом
        Жизненный цикл бага
        Тест-дизайн
        Техники тест-дизайна
        Виды приложений. Какие особенности работы и тестирования веб приложений?
        Методологии разработки ПО (SDLC)
        Чем отличается Scrum и Kanban?
        В чем разница между Severity и Priority?
        Что такое SQL?
        Основные запросы в SQL
        Что такое REST и SOAP? В чем разница?
        Что происходит когда ты делаешь запрос в браузере?
        Что такое HTTP и HTTPS?
        Основные запросы HTTP
        Структура HTTP запроса
        Структура HTTP ответа
        Статус коды
        Что такое SSL?
        Что такое TCP/IP?
        В чем разница между Cache и Cookie?
        Какие операционные системы ты знаешь?
        Основные команды терминала Unix
        Что такое Git?
        Основные команды Git
        Что такое Postman?
        
    </p>
</div>