<% provide(:title, 'Tools') %>
<h1>Инструменты</h1>

<div>
    <div class="tools-list">
        <ul>
            <li>Unix command line</li>
            <li>Git</li>
            <li>Github</li>
            <li>Postman</li>
            <li>Swagger</li>
            <li>Selenium</li>
            <li>TestRail</li>
            <li>Jira</li>
            <li>DevTools</li>
            <li>AndroidStudio</li>
            <li>DB Browser for SQLite</li>
            <li>DBeaver</li>
            <li>Postgres</li>
        </ul>
    </div>

    <%= link_to "Добавить инструмент", "#", class: "btn btn-sm btn-primary" %>

</div>