<% provide(:title, @section.name)%>

<div>
    <ul>
      <% @sections.each do |section| %>
        <li><%= link_to section.name, section_path(section) %></li>
          <ul>
            <% section.articles.each do |article| %>
              <li><%= link_to article.title, [section, article] %></li>
            <% end %>
          </ul>
      <% end %>
    </ul>
</div>