<% provide(:title, 'Posts') %>

<%= link_to '[back]' %> |
<%= link_to '[add instrument]' %>

<h1>Posts</h1>

<div>
  <ul class='contents-list'>
    <% @tools.each do |tool| %>
      <li><%= link_to tool.title, tool_path(tool) %></li>
    <% end %>
  </ul>
</div>