@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables,etc. */

$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$white: #fff;
$black-light: #363636;
$black-dark: #1f1f1f;
$blue-link: #0000FF;

/* universal */

.container {
  width: 60vw;
}

body {
  padding-top: 60px;
  font-size: 16px;
  background-color: $black-light;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    color: $white;
  }

  h1 {
      font-size: 2em; /* 32px, если базовый размер шрифта 16px */
      margin-bottom: 2em;
      text-align: center;
  }

  h2 {
      font-size: 1.75em; /* 28px, если базовый размер шрифта 16px */       
  }

  h3 {
      font-size: 1.5em; /* 24px, если базовый размер шрифта 16px */
  }

  h4 {
      font-size: 1.25em; /* 20px, если базовый размер шрифта 16px */
  }

  h5 {
      font-size: 1em; /* 16px, соответствует базовому размеру шрифта */
  }

  h6 {
      font-size: 0.875em; /* 14px, если базовый размер шрифта 16px */
  }


.small-text {
    font-size: 0.8em; /* Мелкий текст */
    color: $white;
    a {
      color: $white;
    }
}



  /* header */

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  
  #logo:hover {
    color: $white;
    text-decoration: none;
  }
  

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    } a {
      color: $white;
    }
  }
}

/* Div elements*/
.tools-list {
  margin: 30px;
}


/* Field Inputs */
.title-input-area {
  width: 100%;
}

.content-input-area {
  width: 100%;
  height: 50vh;
}

.single-line-input-area {
  width: 100%;
  height: 5vh;
}

/* Form Actions */
.form-actions {
  margin: 20px 0;
}


/* Contents list */
.contents-list, .articles-list, .section-list, .assignments-list, .secondary-nav, .main-nav {
  list-style-type: none;
}


/* Delete Section Button */
.delete-section-button {
  float: right;
}

/* TOOLS */
.tool-header {
  margin: 3em;
}

.tool-title {
  color: $white;
}

.tool-header-logo-name {
  color: $white;
}

.tool-header-category-link {
  color: $white;
  margin: 3em 0;
  a:hover {
    color: $blue-link;
    text-decoration: none;
  }
}

.tool-logo {
  width: 100px
}

.content-div {
  margin: 0 3em;
  p {
    color: $white;
    white-space: pre-line;
  }
  h4 {
    margin-bottom: 1.5em;
  }
}

