@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables,etc. */

$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$white: #fff;

/* universal */

body {
  padding-top: 60px;
  font-size: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
      font-size: 2em; /* 32px, если базовый размер шрифта 16px */
      margin-bottom: 2em;
      text-align: center;
  }

  h2 {
      font-size: 1.75em; /* 28px, если базовый размер шрифта 16px */
      margin-bottom: 2em;
      
  }

  h3 {
      font-size: 1.5em; /* 24px, если базовый размер шрифта 16px */
  }

  h4 {
      font-size: 1.25em; /* 20px, если базовый размер шрифта 16px */
  }

  h5 {
      font-size: 1em; /* 16px, соответствует базовому размеру шрифта */
  }

  h6 {
      font-size: 0.875em; /* 14px, если базовый размер шрифта 16px */
  }

  p {
    line-height: 1.7em;
  }

.small-text {
    font-size: 0.8em; /* Мелкий текст */
}


  /* header */

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  
  #logo:hover {
    color: $white;
    text-decoration: none;
  }
  

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* Div elements*/
.tools-list {
  margin: 30px;
}


/* DUMP */


/* Article */
.article-content {
  white-space: pre-line;
}

/* Field / Inputs */
.title-input-area {
  width: 100%;
}

.content-input-area {
  width: 100%;
  height: 50vh;
}

.section-name-input-area {
  width: 100%;
  height: 5vh;
}

/* Form Actions */
.form-actions {
  margin: 20px 0;
}


/* Contents list */
.contents-list {
  list-style-type: none;
}

.articles-list {
  list-style-type: none;
}

.section-list {
  list-style-type: none;
}