<% provide(:title, "Feature")%>
<div class='article-controls'>
  <%= link_to '[back]', tool_path(@tool) %> |
  <%= link_to '[edit]', edit_tool_post_path(@feature.tool, @feature) %> |
  <%= link_to '[delete]', tool_feature_path(@tool, @feature), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>

<div class='article-text'>
  <p><%= @feature.description %></p>
</div>
