<footer class="footer">
  <small>
    Test Pioneer platform is created by <a href="https://www.linkedin.com/in/techleopard/" target=”_blank”>Adilet Satylganov</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/" target=”_blank”>News</a></li>
    </ul>
  </nav>
</footer>