<header>
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', alt: 'Test Pioneer Logo', height: '50' %>
  <% end %>
  <nav>
    <ul class="nav__links">
      <li><a href="<%= root_path %>">Home</a></li>
      <li><a href="<%= interview_path %>">Interview</a></li>
      <li><a href="#">Log in</a></li>
    </ul>
  </nav>
</header>